.banner {
    background-image: url(../img/background.png);
    padding-top: 270px;
    padding-bottom: 270px;
@media(max-width:992px){
    padding-top: 160px;
    padding-bottom: 160px;
}
@media(max-width:476px){
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    .main {
        h1 {
            font-size:55px;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: white;

@media(max-width:476px){
    font-size:45px;
}
@media(max-width:401px){
    font-size:35px;
}

        }
        p {
            font-size:20px;
            font-family: 'Lato', sans-serif;
            color: white;

            @media(max-width:476px){
                font-size:16px;
            }
            
        }
    }
}
}